
<header class="header">
  <div class="header-left">
    <div class="logo">
      <i class="fas fa-rocket"></i>
      <span>ALI G.Baee</span>
    </div>
  </div>
  <div class="header-right">
    <div class="search-box">
      <input type="text" placeholder="Search...">
      <i class="fas fa-search"></i>
    </div>
    <div class="user-profile">
      <img src="img/Screenshot 2025-04-19 095410.png" alt="User">
      <span>Ali</span>
    </div>
  </div>
</header>
